Flask==3.0.2
flask-cors==6.0.0
Flask-SocketIO==5.5.1
gunicorn==21.2.0
scikit-learn==1.6.1
pandas==2.2.3
numpy==1.26.4
joblib==1.5.1
matplotlib==3.6.3
seaborn==0.13.2
plotly==6.1.2
tensorflow-cpu==2.15.0  # or tensorflow==2.15.0
